#home {
  .hero-section {
    background: url("../../assets/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    background-color: #f8f8ff;
    padding: 50px 50px;

    h1 {
      font-family: Inter;
      font-size: 60px;
      font-weight: 800;
      line-height: 65px;
      text-align: center;
      color: var(--text-color);
    }

    p {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      color: #353a44;
    }

    .sch-btn {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      padding: 8px 10px;
      border-radius: 4px;
      text-align: left;
      background-color: var(--white);
      border: 2px solid;
      border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0px 0px 0px 1px #eceff4;
      box-shadow: 0px 1px 2px 0px #080b121a;
    }

    .credit-card {
      color: var(--muted);
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      svg {
        margin-top: 4px;
      }
    }

    .section-img-dashboard {
      margin-top: 50px;
    }

    .searching {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      span {
        color: var(--secondary);
      }

      svg {
        margin: 5px 5px 0 0;
      }
    }
  }

  .tab-section {
    padding: 50px;

    h2 {
      font-family: Inter;
      font-size: 48px;
      font-weight: 700;
      line-height: 58.09px;
      text-align: center;
      color: #21215b;
    }

    p {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 24.2px;
      text-align: center;
      color: #2c2c7a;
    }

    .custom-tab {
      margin-top: 50px;
      display: flex;
      gap: 10px;

      .pill-tabs-btn {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: var(--white);
        box-shadow: 0px 1px 2px 0px #080b121a;
        box-shadow: 0px 0px 0px 1px #eceff4;
        border: 1px solid var(--Border, #ededf0);
        padding: 10px 16px;
        gap: 4px;
        border-radius: 4px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
      }

      .active {
        border: 1px solid var(--Button-Purple, #4b42f4);
        box-shadow: 0px 0px 0px 2px #4b42f433;
        color: #4b42f4;
      }
    }

    .custom-tab-section {
      background: #fcfcfc;
      border: 1px solid var(--Border, #ededf0);
      box-shadow: 0px 2px 4px -2px #0000000d;
      margin-top: 15px;
      padding: 25px;
      box-shadow: 0px 4px 6px -1px #0000001a;
      border-radius: 8px;

      .ctm-middle {
        align-self: center;
        align-items: center;
        margin: auto;
      }

      .ctm-middle-2 {
        position: relative;
        margin-top: 30px;
      }

      ul {
        li {
          svg {
            margin-top: 2.5px;
            color: var(--secondary);
          }
        }
      }

      h3 {
        color: #353a44;
        font-family: Inter;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
      }

      .frame-1 {
        position: relative;
        z-index: 3;
        margin-bottom: -350px;
        margin-left: 100px;
      }

      .obj-frame-1 {
        position: relative;
        z-index: 3;
        margin-bottom: -300px;
        margin-left: -50px;
      }

      .obj-frame-2 {
        position: relative;
        z-index: 3;
        margin-top: 80px;
        margin-left: -20px;
      }

      .frame-2 {
        position: relative;
        z-index: 1;
        right: -100px;
        top: -50px;
      }

      .frame-3 {
        position: relative;
        z-index: 9;
        right: -100px;
        top: -50px;
      }

      .frame-4 {
        position: relative;
        z-index: 3;
        right: -20px;
        top: -80px;
      }

      .frame-5 {
        position: relative;
        z-index: 3;
        right: -80px;
        top: -160px;
      }
    }
  }

  .home-both-sec {
    background: linear-gradient(360deg, #f8f8ff 0%, #e2e1fc 100%);

    .textboxs-area {
      padding: 0 80px 50px;

      .flex-box {
        display: flex;
        margin: 0 -32px;
        flex-wrap: wrap;

        .width-33 {
          width: 33.33%;
          padding: 0 32px;
          position: relative;
        }

        .width-33:nth-child(1)::after,.width-33:nth-child(3)::after {
          content: '';
          display: block;
          background: url(../../assets/tb-arr-1.svg) no-repeat center center;
          width: 111px;
          height: 44px;
          position: absolute;
          top: 29px;
          right: -23px;
          z-index: 23;
        }
        .width-33:nth-child(3)::after{
          background-image:  url(../../assets/tb-arr-2.svg);
          right: inherit;
          left: -56px;
          top: inherit;
          bottom: 23px;
        }
      }

      .text-box-s {
        padding: 24px;
        background: #fff;
        border: 1px solid var(--Border, rgba(237, 237, 240, 1));
        border-radius: 8px;

        h4 {
          font-size: 24px;
          font-weight: 700;
          color: #000;
          letter-spacing: -2%;
          line-height: 1.24;
          margin-bottom: 16px;
        }

        p {
          font-size: 16px;
          line-height: 2;
          margin-bottom: 16px;
        }

        img {
          border: 1px solid var(--Border, rgba(237, 237, 240, 1));
          border-radius: 8px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  #home {
    .home-both-sec {
      .textboxs-area {
        padding: 20px  20px 40px;
        overflow: hidden;
        .text-box-s p{
          line-height: 1.5;
        }
      }
      
    }
    .hero-section {
      padding: 20px;

      h1 {
        font-family: Inter;
        font-size: 36px;
        font-weight: 800;
        line-height: 42px;
        text-align: center;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }

    .tab-section {
      padding: 20px;

      h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: center;
      }

      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
      }

      .custom-tab {
        overflow: auto;
        flex-wrap: nowrap;

        .pill-tabs-btn {
          width: 100%;
          white-space: nowrap;
        }
      }

      .custom-tab-section {
        h3 {
          font-size: 22px;
          font-weight: 600;
          line-height: 28px;
        }

        ul li {
          font-size: 14px;
          line-height: 20px;
        }

        .ctm-middle-2 {
          transform: scale(0.9);
        }

        .frame-1 {
          position: relative;
          z-index: 3;
          margin-bottom: -300px;
          margin-left: 40px;
        }

        .obj-frame-1 {
          position: relative;
          z-index: 3;
          margin-bottom: -300px;
          margin-left: -15px;
        }

        .frame-2 {
          position: relative;
          z-index: 1;
          right: -25px;
          top: 0px;
        }

        .frame-3 {
          position: relative;
          z-index: 9;
          right: -27px;
          top: 0px;
        }

        .frame-5 {
          position: relative;
          z-index: 3;
          right: 0px;
          top: 0px;
        }

        .frame-4 {
          position: relative;
          z-index: 3;
          right: 0px;
          top: 0px;
        }

        .obj-frame-2 {
          position: relative;
          z-index: 3;
          margin-top: 0px;
          margin-left: 0px;
        }

        .kks {
          margin-bottom: -270px;
        }
      }
    }
  }
}

@media screen and (max-width:767px){
  #home {
  .home-both-sec {
    background: linear-gradient(360deg, #f8f8ff 0%, #e2e1fc 100%);

    .textboxs-area {
      padding: 0 20px 40px;

      .flex-box {
        margin: 0;
        gap: 30px;

        .width-33 {
          width: 100%;
          padding: 0;
        }

        .width-33:nth-child(1)::after,.width-33:nth-child(3)::after {
          display: none;
        }
      }

      .text-box-s {
        padding: 20px;


      }
    }
  }
}
}