#sidebar {
  background-color: var(--primary);
  padding: 10px 20px;
  .logo {
    svg {
      width: 100px;
      height: 40px;
    }
  }
  .dropdown {
    align-self: center;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .side-btn {
    align-self: center;
  }
}
.stats-card {
  background-color: #373458 !important;
  padding: 10px;
  border-radius: 4px;
  width: max-conten;
  svg {
    margin-top: 4px;
    margin-left: 3px;
  }
}

.statistics {
  display: flex;
  gap: 15px;
  svg {
    margin-top: 1px;
  }
  .rating {
    color: var(--l-purple);
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .stat-1 {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }
}

@media (max-width: 1023px) {
  .menu {
    align-self: center;
    margin-left: 0;
    margin: 0 -20px;
    .menu-items {
<<<<<<< HEAD
      font-weight: 400;
      font-family: Inter;
      line-height: 21.6px;
      font-size: 18px;
=======
>>>>>>> 7d18d2c2b81dec585a5d5633da6ce52b2c574c82
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      color: var(--l-purple);
<<<<<<< HEAD
      padding: 13px 15px;
=======
      padding: 10px 15px;
>>>>>>> 7d18d2c2b81dec585a5d5633da6ce52b2c574c82
      border-bottom: 1px solid #2a274e;
      gap: 0px;
    }
  }
}
