#header-desktop {
  background-color: var(--primary);
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    .logo {
      display: flex;
      align-self: center;
      gap: 16px;
      .dropdown {
        align-self: center;
      }
    }
    .menu {
      display: flex;
      align-self: center;
      margin-left: 0;
      .menu-items {
        display: flex;
        font-size: 14px;
        align-items: center;
        gap: 4px;
        color: var(--l-purple);
        padding: 4px 8px 4px 8px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
      }
    }
    .header-btns {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
  .stats {
    padding-bottom: 15px;
    display: flex;
    gap: 6px;
    color: var(--white);
    .stats-card {
      background-color: #373458 !important;
      padding: 10px;
      border-radius: 4px;
      width: max-conten;
      a {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
      }
      svg {
        margin-top: 4px;
        margin-left: 3px;
      }
    }
    .statistics {
      display: flex;
      gap: 15px;
      svg {
        margin-top: 1px;
      }
      .rating {
        color: var(--l-purple);
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
      }
      .stat-1 {
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
      }
    }
  }
}
